<app-home-screen-layout>
  <div class="content">
    <div class="text">
      <div class="title">
        Software Engineer <br />
        specializing in <br />
        Web and TypeScript.
      </div>
      <div class="detail">
        <p>
          I'm Char2s, a teen software engineer with about 2 years of experience
          on developing Web applications and TypeScript libraries. I take code
          quality quite seriously, and have a good sense of keeping a project's
          maintainability. It's my ultimate pursuit to make my code
          understandable to any other developers.
        </p>
        <p>
          Angular and DeepKit are currently my preferred tools for Web
          development, while I'm ok with any other tools as long as they're
          well-designed and scalable. I'm recently contributing to the framework
          DeepKit for which I built DeepKit REST to provide a better REST API
          development experience. Tasked is my latest Web application, which is
          a task management application for teams built with Angular and NestJS.
        </p>
      </div>
    </div>
    <div class="links">
      <a
        class="icon"
        *ngFor="let item of links"
        [title]="item.name"
        [href]="item.href"
        target="_blank"
      >
        <fa-icon size="1x" [icon]="item.icon"></fa-icon>
      </a>
    </div>
  </div>
</app-home-screen-layout>
