.content {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;

  :host-context(.md) & {
    grid-column: 2 / -2;
  }

  :host-context(.xl) & {
    grid-column: 4 / -4;
    align-items: flex-start;
  }
}

.text {
  .title {
    align-self: stretch;

    font-size: 32px;
    line-height: 40px;
    text-align: center;

    :host-context(.xl) & {
      text-align: left;
    }
  }

  .detail {
    --line-height: 20px;

    align-self: stretch;

    font-size: 16px;
    line-height: var(--line-height);
    text-align: center;
    color: var(--text-color-secondary);

    p {
      margin-top: var(--line-height);
      &:last-of-type {
        display: none;
        :host-context(.md) & {
          display: block;
        }
      }
    }

    :host-context(.xl) & {
      text-align: left;
    }
  }
}

.links {
  display: flex;
  gap: 24px;

  .icon img {
    width: 24px;
    height: 24px;
    opacity: 0.6;
  }
}
