:host {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100vh;
  column-gap: 8px;
  margin: 0 8px;

  :host-context(.xl) & {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    margin: 0;
  }
}
