:host {
  display: flex;
  align-items: center;
  gap: 32px;

  padding: 24px 32px;

  border: 1px solid var(--border-color);
  border-radius: 5px;

  background-color: rgb(250, 250, 250);
}

.icon {
  width: 64px;
  height: 64px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--border-color);
  border-radius: 10px;

  background-color: rgb(255, 255, 255);
}

.text {
  flex-grow: 1;
  width: 0;
  height: 64px;

  overflow: hidden;

  .name {
    width: 100%;
    height: 16px;

    font-size: 13px;
    line-height: 16px;
  }

  .description {
    width: 100%;
    height: 48px;

    font-size: 10px;
    line-height: 12px;

    color: var(--text-color-secondary);
  }
}
