<div class="app" appBreakpoints>
  <header class="header">
    <div class="logo">Char2s</div>
  </header>
  <main class="content">
    <div class="introduction">
      <div class="title">
        Software Engineer <br />
        specializing in <br />
        Web and TypeScript.
      </div>
      <div class="detail">
        I'm Char2s, a teen software engineer with about 2 years of experience on
        developing Web applications and TypeScript libraries. <br />
        I take code quality quite seriously, and have a good sense of keeping a
        project's maintainability. It's my ultimate pursuit to make my code
        understandable to any other developers. <br />
        <br />
        Angular and DeepKit are currently my preferred tools for Web
        development, while I'm ok with any other tools as long as they're
        well-designed and scalable. <br />
        I'm recently contributing to the framework DeepKit for which I built
        DeepKit REST to provide a better REST API development experience. <br />
        Tasked is my latest Web application, which is a task management
        application for teams built with Angular and NestJS.
      </div>
      <div class="links">
        <a class="icon" href="https://github.com/TheNightmareX" target="_blank">
          <img src="/assets/icons/social-medias/github.svg" alt="" />
        </a>
        <a class="icon" href="https://discord.gg/Nzfhx5tqje" target="_blank">
          <img src="/assets/icons/social-medias/discord.svg" alt="Discord" />
        </a>
        <a class="icon" href="https://twitter.com/Char2s" target="_blank">
          <img src="/assets/icons/social-medias/twitter.svg" alt="Twitter" />
        </a>
      </div>
    </div>
    <div class="divider"></div>
    <div class="projects">
      <div class="title">Featured Projects</div>
      <div class="subtitle">
        A collection of some projects that have shipped recently.
      </div>
      <div class="cards">
        <a href="https://github.com/deepkit-rest/rest" target="_blank">
          <div class="card">
            <div class="icon">
              <img
                src="/assets/icons/projects/deepkit-rest.svg"
                alt="DeepKit REST"
              />
            </div>
            <div class="text">
              <div class="name">DeepKit REST</div>
              <div class="description">
                A library for DeepKit which provides high-level abstraction for
                REST APIs to simplify the development process and allow
                developers to implement their own abstractions much easier.
              </div>
            </div>
          </div>
        </a>
        <a href="https://github.com/TheNightmareX/tasked" target="_blank">
          <div class="card">
            <div class="icon">
              <img src="/assets/icons/projects/tasked.svg" alt="Tasked" />
            </div>
            <div class="text">
              <div class="name">Tasked</div>
              <div class="description">
                A well-organized Progressive Web Application built with Angular
                and NestJS as a task management solution for teams.
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </main>
</div>
