:host {
  --header-height: 60px;
}

.header {
  display: flex;
  align-items: center;

  position: fixed;
  width: 100%;
  height: var(--header-height);
  top: 0px;

  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg-color);
  opacity: 0.87;

  z-index: 1;

  .logo {
    margin-left: 10%;

    display: flex;
    align-items: center;
    justify-items: center;

    font-family: 'Caveat', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

    color: var(--text-color-accent);
  }
}

.content {
  width: 844px;
  margin: 0 auto;
  margin-top: var(--header-height);

  .introduction {
    height: calc(100vh - var(--header-height));

    display: flex;
    flex-direction: column;

    .title {
      margin-top: 8vh;

      font-size: 32px;
      line-height: 40px;
    }

    .detail {
      margin-top: 40px;
      flex-grow: 1;

      font-size: 16px;
      line-height: 20px;

      color: var(--text-color-secondary);
    }

    .links {
      margin-top: 72px;
      margin-bottom: 16vh;

      display: flex;
      gap: 24px;

      .icon {
        width: 32px;
        height: 32px;

        display: flex;
        justify-content: center;
        align-items: center;

        opacity: 0.6;

        cursor: pointer;
      }
    }
  }

  .divider {
    border-bottom: 1px solid var(--border-color);
  }

  .projects {
    height: calc(100vh - var(--header-height));
    padding: 10vh 0;

    .title {
      font-size: 24px;
      line-height: 30px;
    }

    .subtitle {
      margin-top: 8px;
      font-size: 13px;
      line-height: 16px;
      color: var(--text-color-secondary);
    }

    .cards {
      margin-top: 24px;

      display: flex;
      flex-direction: column;
      gap: 24px;

      .card {
        height: 112px;
        padding: 24px 32px;

        display: flex;
        gap: 32px;

        border: 1px solid var(--border-color);
        border-radius: 5px;

        background-color: #fafafa;

        .icon {
          width: 64px;
          height: 64px;

          display: flex;
          justify-content: center;
          align-items: center;

          background-color: rgb(255, 255, 255);
          border: 1px solid var(--border-color);
          border-radius: 10px;
        }

        .text {
          width: 0;
          flex-grow: 1;

          .description {
            margin-top: 4px;
            font-size: 11px;
            line-height: 14px;
            color: var(--text-color-secondary);
          }
        }
      }
    }
  }
}
