.divider {
  height: 1px;
  grid-row: 1;
  grid-column: 2 / -2;
  border-bottom: 1px solid var(--border-color);

  :host-context(.xl) & {
    grid-column: 4 / -4;
  }
}

.content {
  grid-row: 1;
  grid-column: 1 / -1;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;

  :host-context(.md) & {
    grid-column: 2 / -2;
  }

  :host-context(.xl) & {
    grid-column: 4 / -4;
  }

  :host-context(.xxxl) & {
    grid-column: 5 / -5;
  }

  .heading {
    text-align: center;

    :host-context(.xl) & {
      text-align: left;
    }

    .title {
      font-size: 24px;
      line-height: 30px;
    }

    .subtitle {
      font-size: 13px;
      line-height: 16px;

      color: var(--text-color-secondary);
    }
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
